@import "variables.less";

html {
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 100px;
  background: @yellow-primary;
}

h2 {
  text-transform: uppercase;
  color: @black-secondary;
    span {
      color: @red-secondary;
    }
}

.jumbotron {
  background: url(../img/banner-bg.png);
  background-size: cover;
}

button {
  border: @yellow-primary;
  border-radius: 10px;
  background: @yellow-primary;
  text-transform: uppercase;
}

.container-fluid {
  padding: 25px 50px;
  min-height: 400px;
    .bg-grey {
      padding: 25px;
      min-height: 400px;
        img {
          padding-right: 100px;
        }
      .bg-grey();
    }
}



footer {
  .bordered();
  height: 300px;
  background: @black-secondary;
  text-align: center;
  padding-top: 50px;
}
